@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    /* --swiper-theme-color: #21ebd6 !important; */
  }
  * {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
  }
}

@layer components {
  .container {
    @apply px-4 xl:px-8 2xl:px-10 mx-auto;
  }
  .header-nav-active {
    @apply text-gunmetal dark:text-turquoise font-bold capitalize;
  }
  .header-nav-inactive {
    @apply text-slate-600 dark:text-slate-300 capitalize hover:text-gunmetal dark:hover:text-white transition-colors duration-300;
  }
  .main-btn {
    @apply py-2 px-4 bg-gunmetal dark:bg-turquoise hover:bg-caribbean-current dark:hover:bg-transparent dark:border dark:border-turquoise text-blue-100 dark:text-gunmetal hover:text-blue-100 dark:hover:text-turquoise text-base xs:text-lg font-semibold w-fit rounded-lg transition-all duration-300 ease-in-out;
  }
  .title {
    @apply text-4xl font-bold font-title text-gunmetal dark:text-white;
  }
  .sub-title {
    @apply py-1 px-3 bg-turquoise/30 dark:bg-[#21ebd6]/30 backdrop-blur-md border border-caribbean-current dark:border-turquoise text-caribbean-current dark:text-turquoise text-sm font-subtitle font-bold uppercase rounded-xl;
  }
  .parag {
    @apply text-slate-600 dark:text-slate-300;
  }
  .transition-colors {
    @apply duration-300 ease-in-out;
  }
  .swp-button-prev,
  .swp-button-next {
    @apply bg-caribbean-current dark:bg-turquoise text-white p-1 rounded-xl text-4xl absolute top-1/2 -translate-y-1/2 cursor-pointer transition-all duration-300 ease-in-out z-10 !important;
  }
  .blog-img{
    @apply w-full object-cover object-center hover:scale-105 transition-all duration-300 ease-in-out;
  }
  .blog-title{
    @apply text-gunmetal dark:text-white hover:text-caribbean-current dark:hover:text-turquoise font-semibold hover:underline transition-all duration-300 ease-in-out;
  }
  .blog-tag{
    @apply absolute bottom-3 left-3 py-1 px-2 text-white dark:text-gunmetal text-xs font-semibold capitalize bg-caribbean-current dark:bg-turquoise rounded-sm;
  }
  .label{
    @apply text-gunmetal dark:text-white capitalize group-focus-within:text-caribbean-current dark:group-focus-within:text-turquoise;
  }
}
